<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mode Car</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    
    <div class="home-section">
        <div class="nav_content">
            <h1>Mode Car</h1>
            <div class="nav_url">
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/services">Services</a>
                <a href="/contact">Items</a>
            </div>
        </div>
        <div class="homepage_content">
            <div class="homep_items">
                <h1>Welcome to Mode Car</h1>
                <p>Your one-stop shop for all things automotive. Explore our wide range of services and products designed to keep your vehicle in top condition.</p>
                <button class="home_btn">Read More</button>
            </div>
        </div>
    </div>

    
    <section class="fav_car">
        <div class="fav_heading">
            <h1>Our Popular Cars</h1>
        </div> 
        
         <div class="fav_car_items">

            <div class="ind_car_items">
            <img src="/static/background2.jpg" alt="Car 1">
            <h1>Sporty Sedan</h1>   
            <p>Experience the thrill of driving with our sporty sedan, combining performance and style.</p>            
            </div>

             <div class="ind_car_items">
            <img src="/static/background3.jpg" alt="Car 1">
            <h1>Sporty Sedan</h1>   
            <p>Experience the thrill of driving with our sporty sedan, combining performance and style.</p>            
            </div>

             <div class="ind_car_items">
            <img src="/static/background4.jpg" alt="Car 1">
            <h1>Sporty Sedan</h1>   
            <p>Experience the thrill of driving with our sporty sedan, combining performance and style.</p>            
            </div>

             <div class="ind_car_items">
            <img src="/static/background7.jpg" alt="Car 1">
            <h1>Sporty Sedan</h1>   
            <p>Experience the thrill of driving with our sporty sedan, combining performance and style.</p>            
            </div>

        </div>
    </section>

    <section class="items_cars">
        <div class="items_heading">
            <h1>Available Cars</h1>
        </div>
        <div class="cars_carts">
            <div class="ind_carts_cars">
                <img src="/static/background1.jpg" alt="Car 1">
                <h1>Luxury SUV</h1>
                <p>Discover the perfect blend of luxury and performance with our top-of-the-line SUVs.</p>
            </div>
            <div class="ind_carts_cars">
                <img src="/static/background2.jpg" alt="Car 1">
                <h1>Luxury SUV</h1>
                <p>Discover the perfect blend of luxury and performance with our top-of-the-line SUVs.</p>
            </div>
            <div class="ind_carts_cars">
                <img src="/static/background3.jpg" alt="Car 1">
                <h1>Luxury SUV</h1>
                <p>Discover the perfect blend of luxury and performance with our top-of-the-line SUVs.</p>
            </div>
            <div class="ind_carts_cars">
                <img src="/static/background4.jpg" alt="Car 1">
                <h1>Luxury SUV</h1>
                <p>Discover the perfect blend of luxury and performance with our top-of-the-line SUVs.</p>
            </div>
            <div class="ind_carts_cars">
                <img src="/static/background5.jpg" alt="Car 1">
                <h1>Luxury SUV</h1>
                <p>Discover the perfect blend of luxury and performance with our top-of-the-line SUVs.</p>
            </div>
            <div class="ind_carts_cars">
                <img src="/static/background7.jpg" alt="Car 1">
                <h1>Luxury SUV</h1>
                <p>Discover the perfect blend of luxury and performance with our top-of-the-line SUVs.</p>
            </div>
            <div class="ind_carts_cars">
                <img src="/static/background1.jpg" alt="Car 1">
                <h1>Luxury SUV</h1>
                <p>Discover the perfect blend of luxury and performance with our top-of-the-line SUVs.</p>
            </div>
            <div class="ind_carts_cars">
                <img src="/static/background2.jpg" alt="Car 1">
                <h1>Luxury SUV</h1>
                <p>Discover the perfect blend of luxury and performance with our top-of-the-line SUVs.</p>
            </div>
            <div class="ind_carts_cars">
                <img src="/static/background3.jpg" alt="Car 1">
                <h1>Luxury SUV</h1>
                <p>Discover the perfect blend of luxury and performance with our top-of-the-line SUVs.</p>
            </div>
            <div class="ind_carts_cars">
                <img src="/static/background4.jpg" alt="Car 1">
                <h1>Luxury SUV</h1>
                <p>Discover the perfect blend of luxury and performance with our top-of-the-line SUVs.</p>
            </div>
            <div class="ind_carts_cars">
                <img src="/static/background5.jpg" alt="Car 1">
                <h1>Luxury SUV</h1>
                <p>Discover the perfect blend of luxury and performance with our top-of-the-line SUVs.</p>
            </div>
            <div class="ind_carts_cars">
                <img src="/static/background7.jpg" alt="Car 1">
                <h1>Luxury SUV</h1>
                <p>Discover the perfect blend of luxury and performance with our top-of-the-line SUVs.</p>
            </div>
            <div class="ind_carts_cars">
                <img src="/static/background1.jpg" alt="Car 1">
                <h1>Luxury SUV</h1>
                <p>Discover the perfect blend of luxury and performance with our top-of-the-line SUVs.</p>
            </div>
            <div class="ind_carts_cars">
                <img src="/static/background2.jpg" alt="Car 1">
                <h1>Luxury SUV</h1>
                <p>Discover the perfect blend of luxury and performance with our top-of-the-line SUVs.</p>
            </div>
        </div>
    </section>

    <section class="cont">
        <div class="cont_heading">
            <h1>Our Contribution</h1>
        </div>

        <div class="cont_logo">
            <img src="/static/logo1.jpg" alt="Logo 1">
            <img src="/static/logo2.jpg" alt="Logo 2">
            <img src="/static/logo3.jpg" alt="Logo 3">
            <img src="/static/logo6.jpg" alt="Logo 4">
            <img src="/static/logo5.jpg" alt="Logo 5">
           
        </div>
    </section>

    <section class="car_form">
        <div class="form_heading">
            <h1>Get Contact With Us</h1>
        </div>
        <div class="form_forms">
        <form action="#" method="post" class="form_content">
            <input type="text" name="name" value="Your Name" class="field" required>
            <input type="email" name="email" value="Your Email" class="field" required>
            <textarea name="message" rows="5"  class="text_field" required>Your Message</textarea>
            <button type="submit" class="form_btn">Submit Now</button>
        </form>
        </div>
    </section>

    <footer>        
            <p>Mode Car || &copy; 2024 Mode Car. All rights reserved.</p>
    </footer>
</body>
</html>